.CinemaMenu-options {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.CinemaMenu-option {
  width: 150px;
  height: 150px;
  background: #34495e;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0px 6px 6px rgba(0, 0, 0, 0.23);
  border: none;
  cursor: pointer;
}

