.page-langue {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    position: relative;
}

.back-button {
    width: 60px;
    height: 60px;
    margin-right: 10px; 
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.language-button {
    display: inline-flex;
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}
  
.language-button:active {
    transform: scale(1.1);
}
  
.language-button.selected-language {
    transform: scale(1.2);
    background-color: #47994e;
    color: white;
}
